.small {
  height: 2rem;
  font-size: 0.825rem;
}

.medium {
  height: 2.5rem;
  font-size: 1rem;
}

.large {
  height: 3rem;
  font-size: 1.25rem;
}

.contained {
  color: white;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
}

.outline {
  background-color: inherit;
  color: #2980b9;
  border: 1px solid #3498db;
  border-radius: 5px;
}

.none {
  background-color: inherit;
  border: none;
}
